@font-face {
  font-family: IranSans;
  src: url('./assets/iran-sans/IRANSans-Light-web.eot') ;
  src: url('./assets/iran-sans/IRANSans-Light-web.eot?#iefix') format('embedded-opentype'),
  url('./assets/iran-sans/IRANSans-Light-web.woff') format('woff'),
  url('./assets/iran-sans/IRANSans-Light-web.ttf') format('truetype');
  font-weight: normal;
}
body{
  font-family: IranSans !important;
}
.App {
  text-align: center;
  font-family: Yekan, serif ;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
